.App {
    margin: 13px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    min-height: 40px;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-around;
}

.body {
    background-color: brown;
    min-height: 500px;
}

.footer {
    background-color: blue;
    min-height: 200px;
}